/* Dashboard.css */
.box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rectangle-wrapper {
  border: 0 none;
  height: 150px;
  width: 290px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.rectangle {
  background-color: #428dfc;
  box-shadow: 0px 2px 2px #86b4f7;
  height: 150px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  text-transform: none;
  line-height: 27px;
  font-weight: 600;
}

.more-info {
  background-color: #86b4f7;
  color: #3e3e3e;
  height: 20px;
  padding: 0 25px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
   align-items: center;
}


/* Responsive adjustments */
@media (max-width: 700px) {
  .rectangle-wrapper {
    width: 90%; /* Reduce width on smaller screens */
    margin: 5px; /* Center the boxes on smaller screens */
  }
  .rectangle{
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .box {
    flex-direction: column; /* Change direction to vertical on mobile */
    align-items: center; /* Center items vertically on mobile */
  }
  .rectangle-wrapper {
    width: 90%; /* Reduce width on smaller screens */
    margin: 10px auto; /* Center the boxes on smaller screens */
  }
  .rectangle{
    font-size: 27px;
  }
}

.container {
  width: 80%;
  margin: 20px auto;
}

.app {
  font-family: Arial, sans-serif;
}


.controls .select {
  margin-right: 10px;
  font-size: 16px;
}

.percentage-text{
  color: #fff;
  font-size: larger;
  text-align: left;
}
.Chart-main{
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
}
.pie-chart{
  margin-top: 30px;
}
.pie-main{

  display: flex;
  flex-direction: row;
  align-items: center;
}
/* PassFailChart.css */
.pass-fail-chart {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  width: 40%;
}

.bar {
  display: flex;
  width: 100%;
  height: 15px; /* Reduce the height of the bars */
  border-radius: 7.5px; /* Apply a radius to create rounded rectangles */
  overflow: hidden; /* Hide overflow to prevent border radius from being cut off */
  transition: width 0.5s ease; /* Add transition for the width property */
}

.pass-bar {
  background-color: #0066cc;
}

.fail-bar {
  background-color: #0066cc0e;
}

.labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px; /* Add some spacing between the bars and labels */
}

.label {
  margin-top: 15px;
  font-size: 15px; /* Reduce the font size of the labels */
}

.pass-label {
  color: #0066cc;
}

.fail-label {
  color: #d3d3d3;
}
