.new-subject-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .newsubject-content-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .left-section {
    flex-grow: 1;
  }
  
  .new-subject-title {
    font-size: 24px;
    margin: 0;
  }
  
  .right-section {
    margin-left: 20px;
  }
  
  .add-subject-button {
    padding: 8px 16px;
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-subject-button:hover {
    background-color: var(--color-secondary);
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  