.containerform{
    background: var(--color-primary);
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;
  }
  .front{
    height: 100%;
    width: 45%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.containerform .front img{
  width: 70%;
}

.containerform .forms{
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerform .forms .login-form h1{
  font-size: 36px;
  font-weight: bold;
  line-height:34px;
  color: #fff;
}

.containerform .forms .login-form h3{
  font-size: 16px;
  font-weight: 500;
  line-height:19px;
  color: var(--color-secondary);
}

.input-boxes{
margin-top: 40px;
}

.input-lebal{
  margin: 0;
  font-size: 14px;
  padding: 20px 0 15px 0;
  line-height: 14px;
  color: var(--color-highlight);
  cursor: pointer;
}
.forms  .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 3px 0;
}
 .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  border-radius: 6px;
}
 .input-box .iconff{
  position: absolute;
  width: 25px; 
  margin-left: 10px;
  margin-right: 10px;
}

.forms  .text a{
  text-decoration: none;
}
.forms  .text a:hover{
  text-decoration: underline;
}
.forms  .button{
  color: #fff;
  margin-top: 40px;
}
.forms  .button input{
  color: #fff;
  background: var(--color-secondary);
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms  .button input:hover{
    transform: scale(1.1);
}
.forms  .login-text{
  text-align: center;
  margin-top: 25px;
}
.errorStyle{
  text-decoration: none;
  font-size:16px;
  font-weight:500;
  line-height:20px;
  color: red;
}
/* Checkbox styles */
.checkbox-container {
  display: flex;
  align-items: center;
 
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  
}

.checkbox-input:checked::before {
  content: '\2713';
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-input:focus {
  outline: none;
}

.checkbox-label {
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
 
}
/* Custom styles for toast notifications */
.custom-toast {
  background-color: #ff0000 !important; /* Replace with your desired background color */
  color: #ffffff !important; /* Replace with your desired text color */
}

/* Custom styles for toast content */
.custom-toast .Toastify__toast-body {
  color: #ffffff !important; /* Replace with your desired text color */
}

/* Custom styles for the progress bar */
.custom-progress-bar {
  background-color: #ffffff !important; /* Replace with your desired color for the progress bar */
}

/* Custom styles for the close button icon */
.custom-toast .Toastify__close-button svg,
.custom-toast .Toastify__close-button path {
  fill: #ffffff !important; /* Replace with your desired icon color */
}




@media (max-width: 700px) {
    .containerform{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
    }
    .front{
        display: none;
    }
    .containerform .forms{
        width: 100%;
    }
    .login-form{
        width: 60%;
    }
}
@media (max-width: 500px) {
  .containerform{
      flex-direction: column-reverse;
      width: 100%;
      padding: 0;
  }
  .front{
      display: none;
  }
  .containerform .forms{
      width: 100%;
  }
  .login-form{
      width: 70%;
  }
}