.new-teacher-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.image-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newteacher-content-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section {
  margin-bottom: 20px;
}

.new-teacher-title {
  font-size: 24px;
  margin: 0;
}

.right-section {
  margin-left: auto;
}

.add-teacher-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-teacher-button:hover {
  background-color: #45a049;
}
