.student-list-container {
    padding: 20px;
  }
  
  .filter-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    width: 55%;
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    padding: 10px;
  }
  .filter-input{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filter-select{
    width: 15%;
    margin-right: 25px;
    padding-right: 10px;
    border: none;
    border-right: 1px solid #ccc;
  }
  .filter-input .search-icon{
    margin-right: 10px;
  }
  .filter-input input,
  .filter-select select {
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;
  }
  
  .student-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-table th {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: black;
    padding: 10px;
    text-align: left;
  }
  
  .student-table td {
    padding: 10px;
  }
  
  .white-row {
    background-color: #fff;
  }
  
  .blue-row {
    background-color: #EBF6FF80;
  }
  
  .student-info {
    display: flex;
    align-items: center;
  }
  
  .student-info img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  .action-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
  }
  
  .action-buttons button.edit-button {
    color: #007bff;
  }
  
  .action-buttons button.delete-button {
    color: #dc3545;
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Adjust the height as needed */
  }
  
  .loading-indicator img {
    width: 100px; /* Adjust the image size as needed */
    height: 100px;
  }
  
  
  @media (max-width: 690px) {
    .filter-input {
      flex: none;
      width: 60%;
    }
    .filter-select{
      flex: none;
      width: 20%;
    }
    .filter-section{
      width: 80%;
    }
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-button:hover {
    background-color:#007bff ;
    color: #fff;
  }
  
  .pagination-button.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
   
  /* style Pagination at backend functionality */
  
  
  /* .pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination-button.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .pagination-page {
    margin: 0 10px;
    font-weight: bold;
    color: #333;
  }
  
  .pagination-link {
    display: inline-block;
    padding: 6px 10px;
    margin: 0 5px;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-link:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination-link-active {
    background-color: #007bff;
    padding: 8px 15px;
    margin: 5px;
    color: #fff;
  } */
  
  
  @media (max-width: 500px) {
    .filter-input {
      flex: none;
      width: 60%;
    }
    .filter-select{
      flex: none;
      width: 25%;
    }
    .filter-section{
        width: 100%;
    }
}